@model RealDelivery.cliente

@{
    ViewBag.Title = "Painel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <!--Titulo-->
    <div class="row">
        <div class="col-sm-12 mt-5">
            <h2 class="text-center mt-2">Painel do cliente</h2>
        </div>
    </div>
    <!--Titulo-->
    <!--Cartao-->
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div>
                <div class="shadow p-3 mb-5 mt-5 bg-dark rounded row h-100">
                    <div class="row">
                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12">
                            <div class="align-content-center">
                                <p class="text-light"> Bem vindo @Html.DisplayFor(model => model.cliente_nome) </p>
                                <div class="justify-content-center mb-1">
                                    @Html.ActionLink("Editar dados", "Edit", new { id = Model.cliente_cod }, new { @class = "btn btn-primary", @style = "width: 220px;" })
                                </div>
                                <div class="justify-content-center mb-1">
                                    @Html.ActionLink("Gerenciar Meus Endereços", "index", "Endereco", new { id = Model.cliente_cod }, new { @class = "btn btn-primary", @style = "width: 220px;" })
                                </div>
                                <div class="justify-content-center mb-1">
                                    @Html.ActionLink("Adicionar Endereço", "Create", "Endereco", new { id = Model.cliente_cod }, new { @class = "btn btn-primary", @style = "width: 220px;" })
                                </div>
                                <div class="justify-content-center mb-1">
                                    <a style="width:220px;" href="#" class="btn btn-primary">Meus Pedidos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Cartao-->
</div>