
@{
    ViewBag.Title = "Sobre";
}
<h2 class="text-center mt-2">Sobre</h2>

<h3 class=" mt-3">Real Delivery</h3>


<p>
    Uma <strong>e-commerce</strong>  para venda de alimentos online.
</p>
<p>
    Desenvolvido pelos alunos do 5º semestre: <br />
    Bruno Raiher <a href="mailto:brunoceep01@gmail.com" target="_blank" class="btn btn-link" >brunoceep01@gmail.com</a> <br />
    Eric Rocha <a href="mailto:ericrochaeric@gmail.com" target="_blank" class="btn btn-link">ericrochaeric@gmail.com</a> <br />
    Nereu Neto <a href="mailto:nereuneto2@hotmail.com" target="_blank" class="btn btn-link">nereuneto2@hotmail.com</a> <br />
    Renato Gustavo <a href="mailto:r.g.moraes@hotmail.com" target="_blank" class="btn btn-link">r.g.moraes@hotmail.com</a>

</p>
<p>
    Na disciplica de <strong>PROJETO EXPERIMENTAL: PROJETO E IMPLEMENTAÇÃO DA SOLUÇÃO</strong> 
    do professor <strong>Leonardo Garcia Tampelini</strong> 
    do curso de <strong>TECNOLOGIA EM ANÁLISE E DESENVOLVIMENTO DE SISTEMAS</strong> no centro <strong>Centro Universitário de Cascavel - Univel.</strong>
</p>
<p>

</p>
<p>
</p>
<p>
</p>


<p>
    Aplicação desenvolvida em asp.net mvc no <strong>Visual Studio 2019</strong> com o EntityFramework conectado ao banco <strong>MYSQL</strong> 5.6.26. Aplicação hospedada em vm do <strong>Google Cloud</strong> e o banco de dados está hospedado em servidor <strong>SmarterAsp.Net.</strong>

</p>

