@model IEnumerable<RealDelivery.grupo>

@{
    ViewBag.Title = "Home Page";

}

<h2 class="text-center mt-2">Cardapío</h2>


<table class="table table-hover table-bordered">
    <tr>
        <th style="width: 150px;">
            @Html.DisplayNameFor(model => model.grupo_nome)
        </th>
        <th style="width: 75px;">
            
        </th>
        <th style="width: 125px;"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.grupo_nome)
            </td>
            <td> 
                @if (item.grupo_img != null)
                {
                    <img src="@Html.DisplayFor(modelItem => item.grupo_img)" alt=" image" class="img-thumbnail" style="width:128px;height:128px;" />
                }
            </td>
            <td>
                
                @Html.ActionLink("Produtos", "Produtos", new { id = item.grupo_cod }, new { @class = "btn btn-info", @style = "width: 116px;" })

            </td>
        </tr>
    }

</table>